* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}
main {
  display: flex;
  width: 90%;
  min-width: 327px;
  margin: 50px 0 50px;
}
.model {
  box-sizing: border-box;
  width: 100%;
  padding: 48px;
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
.model p {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 25px;
  color: hsla(0, 0%, 100%, 0.75);
}
img {
  margin-bottom: 35px;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0 0;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 8px 8px;
}
.model a {
  display: inline-block;
  width: 146px;
  height: 48px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
}
.sedans a {
  color: hsl(31, 77%, 52%);
}
.suvs a {
  color: hsl(184, 100%, 22%);
}
.luxury a {
  color: hsl(179, 100%, 13%);
}
footer {
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: black;
}
